<!-- Start Profile -->	
				<div class="profile-wrp hover-left">
		   		    <div class="content-wrp">
    					<div class="profile-photo">
    						<div class="overlay"></div>
	    					<i class="profile-icon icon-arrow-right"></i>
							<%= image_tag entrepreneur.image(:medium) %>
						</div>
						<p class="profile-name"><%= link_to "#{entrepreneur.first_name} #{entrepreneur.last_name}", entrepreneur_path(entrepreneur) %></p>
						<p class="profile-position"><%= entrepreneur.usertype %> entrepreneur</p>
						<ul class="social-icons">
						<% if entrepreneur.facebook != "" %>
						<li><a href=<%= entrepreneur.facebook %>><i class="icon-facebook"></i></a></li>
						<% else %>
						<li><a href="#"><i class="icon-check-empty"></i></a></li>
						<% end %>
						<% if entrepreneur.twitter != "" %>
						<li><a href=<%= entrepreneur.twitter %>><i class="icon-twitter"></i></a></li>
						<% else %>
						<li><a href="#"><i class="icon-check-empty"></i></a></li>
						<% end %>
						<% if entrepreneur.linkedin != "" %>
						<li><a href=<%= entrepreneur.linkedin %>><i class="icon-linkedin"></i></a></li>
						<% else %>
						<li><a href="#"><i class="icon-check-empty"></i></a></li>
						<% end %>
						</ul>
		   		    </div>
					<div class="overlay-wrp">
	        			<div class="overlay"></div>
						<p class="profile-name"><%= entrepreneur.first_name %> <%= entrepreneur.last_name %></p>
						<p class="profile-position">knows 134 entrepreneurs</p>
						<p class="profile-position"><% entrepreneur.tag_list.each do |tag| %>
               				 <i class=" icon-tag"></i> <%= tag %> 
               			 <% end %></p>
						<%= link_to "i know him", entrepreneur_path(entrepreneur), class:"btn large" %>
						

						
               			 
						<%= link_to "recommend", root_path, class: "btn large" %>
						<%= link_to "view profile", entrepreneur_path(entrepreneur), class:"btn large" %>
					</div>
				</div>
				<!-- End Profile -->