<div class="container">
  <div class="row">

    <div class="span12">

<section id="title" class="container">
    <div class="row">
      <div class="span12">
        <h5><span class="color-text">edit</span> your account</h5>
      </div>
    </div>
  </section>


<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>

  <div class="tabs span12">
          <ul>
            <li id="tab1" class="current">basic</li>
            <li id="tab2">picture</li>
            <li id="tab3">social</li>
            <li id="tab4">skills</li>
            <li id="tab5">cv</li>
            <li id="tab6">portfolio</li>
            <li id="tab7">contacts</li>
          </ul>
          <div class="tab-content-wrp">
              <div id="tab1-content" class="tab-content active">
                    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :password, :autocomplete => "off", :required => false %>
    <%= f.input :password_confirmation, :required => false %>

              </div>
              <div id="tab2-content" class="tab-content">
                 <% if @entrepreneur.image_file_name == nil %>
      <%= f.input :image, label: "upload a profile image" %>
      <% else %>
      <%= image_tag @entrepreneur.image (:medium) %>
      <%= f.input :image, label: "update your profile image" %>
      <% end %>
              </div>
              <div id="tab3-content" class="tab-content">
                

      <%= f.input :facebook, label: "facebook url" %>
      <%= f.input :twitter, label: "twitter url" %>
      <%= f.input :linkedin, label: "linkedin url" %>
              </div>
              <div id="tab4-content" class="tab-content"></div>

              <div id="tab5-content" class="tab-content">
                <% if @entrepreneur.cv_file_name == nil %>
                <%= f.input :cv, label: "upload your cv" %>
                <% else %>
                <%= f.input :cv, label: "update your cv" %>
                <%= link_to 'My CV', @entrepreneur.cv.url, class: "btn color large" %>
                <% end %>

              </div>
              <div id="tab6-content" class="tab-content"></div>
              <div id="tab7-content" class="tab-content">
                <%= f.input :phone %>
                <%= f.input :skype %>
                <%= f.input :prefmethod, collection: [ "phone", "skype", "both"], default: "phone", label: "best method for contact" %>
              </div>
          </div>
        </div>






    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

<div class="span3">
      <%= f.input :current_password, :required => true %> <%= f.button :submit, "Update", class: "btn large color" %>
    </div>


<% end %>

<div class="span12">
<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

<%= link_to "Back", :back %>
</Div>

</div>

</div>

</div>