<%= simple_form_for(@startup, html: { class: "form-horizontal"}) do |f| %>
  <% if @startup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@startup.errors.count, "error") %> prohibited this startup from being saved:</h2>

      <ul>
      <% @startup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if @startup.logo_file_name == nil %>
  <div class="span3">
    <%= f.input :name %>
    <%= f.input :logo, label: "upload a logo" %>
  </div>

<% else %>

<div class="span3">
    <%= f.input :name %>
    <%= f.input :logo, label: "update the logo" %>
  </br>
    <%= image_tag @startup.logo %>
  </div>

<% end %>

  <div class="span3 offset1">
    <%= f.input :description, as: :text, input_html: { rows: "2" }  %>
    <%= f.input :location %>
    <%= f.input :stage %>
    <%= f.input :founded %>
  </div>
  <div class="span3">

    <%= f.input :link1, label: "Official Website" %>
    <%= f.input :link2, label: "Facebook Page" %>
    <%= f.input :link3, label: "Other Social" %>

    
  </div>
  <div class="span2">
 
            <%= f.submit "submit", class: "btn large color" %>


    </div>

<% end %>
