
<%= simple_form_for(@startup, html: { class: "form-horizontal"}) do |f| %>
  <% if @startup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@startup.errors.count, "error") %> prohibited this startup from being saved:</h2>

      <ul>
      <% @startup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="tabs">
          <ul>
            <li id="tab1" class="current">info</li>
            <li id="tab2">content</li>
            <li id="tab3">social</li>
            <li id="tab4">team</li>
          </ul>
          <div class="tab-content-wrp">
              <div id="tab1-content" class="tab-content active">
            <%= f.input :name, :required => true %>
                <%= f.input :description, as: :text, input_html: { rows: "2" }  %>
    <%= f.input :location, :required => true %>
    <%= f.input :stage, :required => true %>
    <%= f.input :founded %>
              </div>
              <div id="tab2-content" class="tab-content">
         <% if @startup.logo_file_name == nil %>
          <%= f.input :logo, label: "upload a logo" %>
         <% else %>
          <%= f.input :logo, label: "update the logo" %>
          </br>
          <%= image_tag @startup.logo %>
          <% end %>
              </div>
              <div id="tab3-content" class="tab-content">
                    <%= f.input :link1, label: "Official Website" %>
    <%= f.input :link2, label: "Facebook Page" %>
    <%= f.input :link3, label: "Other Social" %>
              </div>
              <div id="tab4-content" class="tab-content"></div>
          </div>
        </div>





  <div class="span3">
 
            <%= f.submit "submit", class: "btn large color" %>


    </div>

<% end %>
