    
    <!-- Start Title -->    
    <section id="page-title" class="container">
        <div class="row">
            <div class="span10">
                <h2>startups</h2>
                <div class="dropdown">
                    <div class="dropmenu">
                        <p class="menu-title">show</p>
                        <p class="selected">all startups</p>
                        <i class="icon-chevron-down"></i>
                    </div>
                    <div class="dropmenu-active">
                        <ul class="option-set" data-option-key="filter">
                            <li><a class="selected drop-selected" href="#filter" data-option-value="*">All projects</a></li>
                            <li><a href="#filter" data-option-value=".digital">Digital</a></li>
                            <li><a href="#filter" data-option-value=".website">Website</a></li>
                            <li><a href="#filter" data-option-value=".strategy">Strategy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="span2 hidden-phone">
                <% if @startups.count < 2 %>
                <p><span class="number"><%= @startups.count %></span>startup</p>
                <% else %>
                <p><span class="number"><%= @startups.count %></span>startups</p>
                <% end %>
            </div>
        </div>
        <div class="row">
            <hr class="span12 clear-bottom">
        </div>
    </section>
    <!-- End Title -->
    
    <!-- Start Projects -->
    <section id="projects" class="container">
        <div id="posts" class="isotope row">
   
   <% @startups.each do |startup| %>     
            <!-- Start Project -->
            <div class="post item span4 isotope-item website">
                <a href="project.html" class="project-wrp hover-down">
                    <div class="content-wrp">
                        <%= image_tag startup.logo(:medium) %>
                        <p class="project-name"><%= startup.name %></p>
                        <p class="project-desc"><%= startup.location %></p>
                    </div>
                    <div class="overlay-wrp">
                        <div class="overlay"></div>
                        <p class="project-name"><%= startup.name %></p>
                        <p class="project-desc"><%= startup.description %></p>
                        <p class="project-date">Founded in <%= startup.founded %></p>
                        
                        <i class="icon-arrow-right"></i>
                    </div>
                </a>
            </div>
            <!-- End Project -->
    <% end %>
            
        </div>  
    </section>
    <!-- End Projects -->

    <!-- Start Ajax Loader -->
    <div id="loading">
        <a href="#">load more startups...</a>
    </div>
    <!-- End Ajax Loader -->

