
<!-- Start Project Section -->
  <article id="project">
    <div>
      <div class="pattern"></div>
      <div class="gradient"></div>
    </div>
    <div class="container">
    
      <!-- Start Project Description -->
      <div class="row">
        <div class="span8">
          <h1 class="color-text"><%= @startup.name %></h1>
          <h4><%= @startup.description %></h4>
        </div>
      </div>
      <div class="row">
        <div class="span8">
          <p class="project-info"><%= @startup.location %><span class="project-mounth">Founded in <%= @startup.founded %></span></p>
          
        </div>
        <div class="span4">
          <%= link_to "official website", @startup.link1, class: "launch" %>
          
        </div>
      </div>
      <div class="row"><div class="span12 line"></div></div>
      <div class="row project-description">
        <div class="span8">
         <h4 class="margin">available opportunities</h4>
         </div>
        <div class="span4 share">
          <%= image_tag @startup.logo (:medium) %>
          <div class="up-title hidden-phone">social</div>
          <% if @startup.link2 == "" %>

          <% else %>

          <div id="fb-root"></div><div class="fb-like" data-href=<%= @startup.link2 %> data-send="true" data-width="200" data-show-faces="true" data-colorscheme="dark"></div>

          <% end %>

          <%= @startup.link3 %><!-- Change this image to your code of social buttons -->
        </br>
            <p><%= @startup.stage %></p>
            <% if @startup.stage == "early stage" %>
                <div class="progress progress-warning">
                  <div class="bar" style="width: 20%"></div>
                </div>
            <% else %>
                <div class="progress progress-warning">
                  <div class="bar" style="width: 50%"></div>
                </div>
            <% end %>
        </div>
      </div>
      <!-- End Project Description -->
      
      <!-- Start Case -->
      <section id="case">
        <div class="row">
          <div class="span8">
            
          </div>
          <div class="span4 image-desc">

            
          </div>
        </div>
      
        
        
      </section>
       <div class="span12">
        <%= link_to 'Edit', edit_startup_path(@startup) %> |
<%= link_to 'Back', startups_path %>
      </div>
      <!-- End Case -->
    </div>

  </article>
  <!-- End Project Section -->


     




