<!-- Start Title -->
	<section id="title" class="container">
		<div class="row">
			<div class="span12">
			</div>
		</div>
	</section>
	<!-- End Title -->
	<!-- Start Intro Block 
	<section class="intro container">
		<div class="row">
			<div class="span12">
				<p>welcome to your <a href="#">dashboard</a> <%= current_entrepreneur.first_name %></p>
			</div>
		</div>
	</section>
 End Intro Block -->
			
	<!-- Start About Text -->			
	<section id="about-text" class="container">
		<div class="row">
			<div class="span3">
				<div class="tabs">
					<ul>
						<li id="tab1" class="current"><i class="icon-picture"></i> you</li>
						
					</ul>
					<div class="tab-content-wrp">
    					<div id="tab1-content" class="tab-content active">
    						
    						<%= image_tag current_entrepreneur.image (:medium) %>
    						
    						<p class="btn large"><%= current_entrepreneur.usertype %> entrepreneur</p>
    						<%= link_to "inbox", entrepreneur_messages_path(current_entrepreneur), class: "btn" %>
    						<%= link_to 'edit profile'.html_safe, edit_entrepreneur_registration_path, class: "btn" %>
    						
    						<div class="date">Skills:</div>
    						<% current_entrepreneur.tag_list.each do |tag| %>
                <p class="btn small "><i class=" icon-tag"></i><%= tag %></p>
                <% end %>
                <div class="date">Social:</div>
                <ul class="social-icons">
						<% if current_entrepreneur.facebook != "" %>
						<li><a href=<%= current_entrepreneur.facebook %>><i class="icon-facebook"></i></a></li>
						<% else %>
						<li><a href="#"><i class="icon-check-empty"></i></a></li>
						<% end %>
						<% if current_entrepreneur.twitter != "" %>
						<li><a href=<%= current_entrepreneur.twitter %>><i class="icon-twitter"></i></a></li>
						<% else %>
						
						<% end %>
						<% if current_entrepreneur.linkedin != "" %>
						<li><a href=<%= current_entrepreneur.linkedin %>><i class="icon-linkedin"></i></a></li>
						<% else %>
						
						<% end %>
						</ul>
						<div class="date">you have</div>
				<p class="btn color large">50 entrepreneur points</p>
				

    					</div>


    					
					</div>
				</div>

				
				
			</div>
			<div class="span5">
				<div class="tabs">
					<ul>
						<li id="tab1" class="current"><i class="icon-bar-chart"></i> your stuff</li>

						
					</ul>

					<div class="tab-content-wrp">
    					<div id="tab1-content" class="tab-content active">
    						
    						<%= link_to "create a startup", new_startup_path, class: "btn large" %>
    						
    					</div>
    					
					</div>
				</div>

			</div>
			<div class="span4">
				<div class="tabs">
					<ul>
						<li id="tab1" class="current"><i class="icon-pushpin"></i> what's going on</li>
						
					</ul>
					<div class="tab-content-wrp">
    					<div id="tab1-content" class="tab-content active">
    						
    					</div>
    					
					</div>
				</div>

			</div>
		</div>		
	</section>