<!-- Start Title -->
	<section id="title" class="container">
		<div class="row">
			<div class="span12">
			</div>
		</div>
	</section>
	<!-- End Title -->
	<!-- Start Intro Block 
	<section class="intro container">
		<div class="row">
			<div class="span12">
				<p>welcome to your <a href="#">dashboard</a> <%= current_entrepreneur.first_name %></p>
			</div>
		</div>
	</section>
 End Intro Block -->
			
	<!-- Start About Text -->			
	<section id="about-text" class="container">
		<div class="row">
			<div class="span3">
				<div class="tabs">
					<ul>
						<li id="tab1" class="current"><i class="icon-picture"></i> you</li>
						
					</ul>
					<div class="tab-content-wrp">
    					<div id="tab1-content" class="tab-content active">
    						<p><%= current_entrepreneur.first_name %> <%= current_entrepreneur.last_name %></p>
    						
    						<%= image_tag current_entrepreneur.image (:medium) %>
    						
    						<p class="btn large"><%= current_entrepreneur.usertype %> entrepreneur</p>
    						<%= link_to "inbox", entrepreneur_messages_path(current_entrepreneur), class: "btn" %>
    						<%= link_to 'edit profile'.html_safe, edit_entrepreneur_registration_path, class: "btn" %>
    						
    						<div class="date">Skills:</div>
    						<% current_entrepreneur.tag_list.each do |tag| %>
                <p class="btn small "><i class=" icon-tag"></i><%= tag %></p>
                <% end %>
                <div class="date">Social:</div>
                <ul class="social-icons">
						<% if current_entrepreneur.facebook != "" %>
						<li><a href=<%= current_entrepreneur.facebook %>><i class="icon-facebook"></i></a></li>
						<% else %>
						<li><a href="#"><i class="icon-check-empty"></i></a></li>
						<% end %>
						<% if current_entrepreneur.twitter != "" %>
						<li><a href=<%= current_entrepreneur.twitter %>><i class="icon-twitter"></i></a></li>
						<% else %>
						
						<% end %>
						<% if current_entrepreneur.linkedin != "" %>
						<li><a href=<%= current_entrepreneur.linkedin %>><i class="icon-linkedin"></i></a></li>
						<% else %>
						
						<% end %>
						</ul>
						<div class="date">you know</div>
				<p class="btn color large">139 entrepreneurs</p>
				

    					</div>


    					
					</div>
				</div>

				
				
			</div>
			<div class="span5">
				<div class="tabs">
					<ul>
						<li id="tab1" class="current"><i class="icon-bar-chart"></i> your stuff</li>

						
					</ul>

					<div class="tab-content-wrp">
    					<div id="tab1-content" class="tab-content active">
    						<%= link_to "My Opportunities", entrepreneur_opportunities_path(@current_entrepreneur), class: "btn large" %>
    						<%= link_to "New Opportunity", new_entrepreneur_opportunity_path(@current_entrepreneur), class: "btn large" %>
    						<%= link_to "create a startup", new_startup_path, class: "btn large" %>
    						<% current_entrepreneur.entrepreneurstartups.each do |es| %>
    						<%= link_to "#{es.startup.name}", startup_path(es.startup.id), class: "btn color large" %>
    					
    						<% end %>
    						
    					</div>
    					
					</div>
				</div>

			</div>
			<div class="span4">
				<div class="tabs">
					<ul>
						<li id="tab1" class="current"><i class="icon-pushpin"></i>entrepreneurs you follow</li>
						
					</ul>
					<div class="tab-content-wrp">
    					<div id="tab1-content" class="tab-content active">
    						<ul>
  <% current_entrepreneur.friendships.each do |friendship| %>
  <li>
  <div class="span1"><%= image_tag friendship.friend.image (:medium) %></div>
  <div class="span2">
      <%= friendship.friend.first_name %> <%= friendship.friend.last_name %>
      (<%= link_to "remove", friendship, :method => :delete %>)</div></li>
  <% end %>
</ul>

<p>entrepreneurs following you</p>
<ul>
  <% current_entrepreneur.inverse_friends.each do |entrepreneur| %>
    <li>
  <div class="span1"><%= image_tag entrepreneur.image (:medium) %></div>
  <div class="span2">
      <%= entrepreneur.first_name %> <%= entrepreneur.last_name %>
  </div></li>
  <% end %>
  
</ul>

    					</div>
    					
					</div>
				</div>

			</div>

		</div>		
	</section>