<div class="container">
  <div class="row">

    <div class="span12">

<section id="title" class="container">
    <div class="row">
      <div class="span12">
        <a class="heart-circle" href="portfolio.html"><i class="icon-heart"></i></a>
        <h5><span class="color-text">login</span></h5>
      </div>
    </div>
  </section>


<section id="title" class="container">
    <div class="row">
      <div class="span12">
<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :password, :required => true %>
    <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>



    <%= f.button :submit, "login", class: "btn large color" %>

<% end %>
      </div>
    </div>
  </section>
<div class="span12">
<%= render "devise/shared/links" %>
</div>
</div>

</div>

</div>
