<div class="container">
  <div class="row">

    <div class="span12">

<section id="title" class="container">
    <div class="row">
      <div class="span12">
        <h5><span class="color-text">login</span> to couchkick</h5>
      </div>
    </div>
  </section>

  <div class="span6 offset4">

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

    <%= f.input :email, :required => false, :autofocus => true %>
    <%= f.input :password, :required => false %>
    <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>



    <%= f.button :submit, "login", class: "btn large color" %>

<% end %>
</div>

<%= render "devise/shared/links" %>

</div>

</div>

</div>
