<p id="notice"><%= notice %></p>

<p>
  <b>Message:</b>
  <%= @proposal.message %>
</p>

<p>
  <b>Findentrepreneur:</b>
  <%= @proposal.findentrepreneur_id %>
</p>


<%= link_to 'Edit', edit_proposal_path(@proposal) %> |
<%= link_to 'Back', proposals_path %>
