	<!-- Start Footer -->
	<footer class="container">
		<div class="row">
			<div class="span12">
				<p>© 2013 <%= link_to "couchkick", root_path %>. All rights reserved.<br>
				</p>
				<!-- Start Footer Navigation -->
				<nav class="hidden-phone">
					<ul class="pull-right">
						<li><%= link_to "about", pages_about_path, class: "active" %></li>
						<li><%= link_to "faq", pages_faq_path, class: "active" %></li>
						<li><%= link_to "privacy", pages_privacy_path, class: "active" %></li>
						<li><%= link_to "terms", pages_terms_path, class: "active" %></li>
					</ul>
				</nav>
				<!-- End Footer Navigation -->
			</div>
		</div>
	</footer>

