<!-- Start Header -->
	<header>
		<div class="container">
			<div class="row">
				<div class="span5">
					<div id="logo">
						<%= link_to "couchkick", root_path %>
						<p>the entrepreneur matchmaker</p>
					</div>
				</div>
				<div class="span7">
					<!-- Start Navigation -->
					<nav>
						<ul id="navigation" class="pull-right hidden-phone">

<% if entrepreneur_signed_in? %>

							<li>
								<a class="active" href="#">dashboard</a>
							</li>
							<li>
								<a href="#">jobs & ideas</a>
							</li>
							<li>
								<%= link_to 'entrepreneurs', entrepreneurs_path %>
								
							</li>
							<li>
								<%= link_to "startups", startups_path %>
							</li>

							

							<li><%= link_to 'logout', destroy_entrepreneur_session_path, method: :delete %></li>

							<% else %>

							<li>
								<a href="#">jobs & ideas</a>
							</li>
							<li>
								<%= link_to 'entrepreneurs', entrepreneurs_path %>
								
							</li>
							<li>
								<%= link_to "startups", startups_path %>
							</li>

							<li><%= link_to "login", new_entrepreneur_session_path, class: "active" %></li>
							<li><%= link_to "signup", new_entrepreneur_registration_path %></li>

							<% end %>

							<% %>
						</ul>
					</nav>
					<!-- End Navigation -->
				</div>
			</div>
		</div>
	</header>
	<!-- End Header -->
